@import url(keyframes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-secondary: rgb(0, 174, 255);
    --line-border-fill: rgb(12, 0, 65);
    --line-border-empty: rgb(0, 217, 255);

}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.show {
    display: block;
}
.hidden{
    display: none;
}
.error{
    border: 2px solid red;
}

body {
    background-image: url(https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerlogin {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 40%;
    height: 40%;
    animation-name: show;
    animation-duration: 3s;
}

.containerlogin h1 {
    color: var(--color-secondary);
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 10%;
}

.login label {
    color: var(--color-secondary);
    display: block;
}

.containerlogin input {
    width: 100%;
    padding: 1%;
    border: none;
    margin-bottom: 3%;
}

.login button {
    color: white;
    border: none;
    background-color: var(--color-secondary);
    padding: 1%;
    width: 100%;
    cursor: pointer;
    margin-top: 1%;
}


.login {
    padding: 7%;
}

.noacc {
    align-items: center;
    padding: 4%;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.8);
}

.noacc button {
    margin-left: 5%;
    padding: 1%;
    cursor: pointer;
    background-color: white;
    color: var(--color-secondary);
    font-weight: bold;
    border: none;
}

.containercadastro {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 40%;
    height: 40%;
    animation-name: show;
    animation-duration: 3s;
}

.containercadastro h1 {
    color: var(--color-secondary);
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 10%;
}

.containercadastro label {
    color: var(--color-secondary);
    display: block;
}

.containercadastro input {
    width: 100%;
    padding: 1%;
    margin-bottom: 3%;
}

.containercadastro button {
    color: white;
    border: none;
    background-color: var(--color-secondary);
    padding: 1%;
    width: 100%;
    cursor: pointer;
    margin-top: 3%;
}


.containercadastro {
    padding: 7%;
}
